.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: left;
  color: white;
  padding: 10px 20px;
  justify-content: space-between;
}

.App-link {
  color: #09d3ac;
  text-decoration: none;
}

.App-footer {
  padding: 0px;
  margin: 0px;
  text-align: left;
  display: block;
}

$body-width: 50%;
$body-width-wide: 45%;

.console {
  font-family: monospace;
  background-color: #555;
  color: #ccc;
  padding: 4px 6px;
  position: relative;
}

.App-body {
  padding: 0px;
  margin: 0px;
  text-align: left;
  display: block;
  box-sizing: border-box;

  > div {
    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: top;
    min-height: calc(100vh - 73px);
    max-height: calc(100vh - 73px);
    overflow: auto;
    &:first-child {
      position: relative;
      width: $body-width;
      @media (min-width: 1000px) { 
        width: $body-width-wide;
      }
      padding: 0px 20px;
      > .toggle {
        text-decoration: none;
        color: #444444;
        text-align: center;
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        font-size: 14px;
        font-weight: bold;
        background-color: white;
        border: solid 1px #ccc;
        right: 0px;
        top: 0px;
      }
    }
    &:last-child {
      width: (100 - $body-width);
      @media (min-width: 1000px) { 
        width: (100 - $body-width-wide);
      }
    }
  }

  &.console-closed {
    > div {
      &:first-child {
        width: 100%;
        > .toggle {
          font-size: 12px;
        }
      }
      &:last-child {
        display: none;
      }
    }
  }
}

.App-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  list-style-type: none;
  text-align: left;
  a {
    color: #09d3ac;
    text-decoration: none;
  }
}

[class^="App-msg-"],
[class*=" App-msg-"] {
  box-sizing: border-box;
  margin: 0px -20px 20px;
  padding: 8px 10px;
  position: relative;
}

.App-msg-error {
  background-color: #f77878;
  border: solid 1px #d22424;
  box-shadow: 0px 1px 5px rgba(187, 27, 27, 0.6392156862745098);
  color: white;
}

.App-msg-success {
  background-color: green;
  border: solid 1px green;
  color: white;
}

[class^="App-msg-"] > .close,
[class*=" App-msg-"] > .close {
  position: absolute;
  top: 7px;
  right: 24px;
  display: block;
  width: 10px;
  height: 10px;
  font-size: 26px;
  color: white;
  text-decoration: none;
}

.App-nav li {
  margin-right: 20px;
}

.App-nav li:last-child {
  margin-right: 0px;
}

ul.no-bullets {
  padding-left: 0px;
  list-style-type: none;
}

table th,
table td {
  padding: 6px 10px;
}

table ul {
  margin: 0px;
}

table.border {
  border-collapse: collapse;
  border: solid 1px #ccc;
}

table.border td,
table.border th {
  border: solid 1px #ccc;
}

table.border th {
  border-bottom-size: 2px;
}

table.border td:last-child,
table.border th:last-child {
  border-right: none;
}
.row {
  display: block;
  margin: 0px -10px;
  padding: 0px;
  box-sizing: border-box;
  &:before,
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

[class^="col-"],
[class*=" col-"] {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  float: left;
}
@for $i from 1 to 12 {
  .col-#{$i} {
    width: (100% / (12/$i));
  }
}

[class^="flex-"],
[class*=" flex-"] {
  display: flex;
}
.flex-row-r {
  flex-direction: row-reverse;
}
.flex-row {
  flex-direction: row;
}
.flex-col-r {
  flex-direction: column-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-justify-evenly {
  justify-content: space-evenly;
}
.flex-fill {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  > * {
    flex: 1;
  }
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-justify-around {
  justify-content: space-around;
}

.box {
  padding: 6px 10px;
  border: solid 1px #ccc;
  line-height: 1.2rem;
  font-size: 1rem;
}

a.no-style {
  text-decoration: none;
}
.text-danger {
  color: red;
}

.toggler {
  &:before {
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    border: solid 1px black;
    margin-right: 5px;
  }

  &.checked {
    &:before {
      background-color: cyan;
    }
  }

  &.danger {
    &:not(.checked){
      &:before {
        background-color: red;
      }
    }
  }
}

a.toggler {
  text-decoration: none;
  color: #555;
}


.args-section {
  pre {
    font-family: monospace;
    max-width: 100%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;      
  }
}
